.uTitleWrapper {
  padding: 30px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.ubikeLogo {
  height: 40px;
  @media (max-width: 768px) {
    height: 30px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
  }
}
.ubikeTitle {
  font-size: 30px;
  margin-left: 20px;
  letter-spacing: 3px;
  display: inline-block;
  @media (max-width: 768px) {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
}

.uDetailWrapper {
  margin-block: 30px;
}
/* 分頁 */

.pageBtn {
  display: flex;
  align-items: center; /* 垂直置中 */
  justify-content: center; /* 水平置中 */
  width: 40px;
  height: 40px;
  list-style: none;
  padding: 10px;
  margin: 12px;
  border-radius: 50%;
  /* background-color: #a1b719; */
  position: relative;
}
.pageLink {
  position: absolute;
  color: #4e4c4c;
  text-decoration: none;
  font-family: "Inria Sans";
  /* padding: 20px; */
}
.pageContainer {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.pageActive {
  background-color: #ffa41b;
  /* border-radius: 50%; */
}
.goLink {
  font-size: 10px;
  color: #fefff6;
}
.goBtn {
  width: 30px;
  height: 30px;
  background: #f86f03;
  @media (max-width: 768px) {
    width: 20px;
    height: 20px;
  }
}
